* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
    display: flex;
    justify-content: center;
}

/* LAYOUT */

body {
    margin: 0;
    padding: 1rem 2rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    max-width: 70rem;
    min-width: 39rem
}

/* DESIGN */

div.header {
    align-self: center;
    padding: 2rem;
}

h1 {
    font-size: 2.4rem;
}

div.selection-container {
    display: flex;
    justify-content: center;
}

span.selection {
    padding: 1rem;
}

span.todo {
    background-color: seashell;
    border: 1px solid black;
    border-radius: 5px 0 0 5px;
    width: 6rem;
    text-align: center;
}

span.grocery {
    background-color: rgb(181, 222, 241);
    border: 1px solid black;
    border-radius: 0 5px 5px 0px;
    width: 6rem;
}


/* TASKS SECTION DESIGN */

h3 {
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
}


li.task {
    font-size: 1.4rem;
    padding: .2rem;
}

div.tasks-container {
    height: 48vh;
}

div.chore-container,
div.groceries-container {
    padding: .2rem;
    max-height: 30rem;
    overflow: auto;
}

div.add-to-do {
    margin-top: 2rem;
}
span.deadline{
    display: block;
    float: right;
}

#category {
    display: none;
}

.add-item-form {
    display: flex;
}

.add-item-form input,
#grocery-category {
    width: 50%;
    border: .5px solid #bbb;
    border-radius: .5rem;
    font-size: 1.6rem;
    height: 4.2rem;
    padding: 1rem;
}

.add-item-form button {
    display: none;
}

/* CHAT SECTION DESIGN */

li.message {
    list-style-type: none;
    line-height: 2.5rem;
    border-bottom: 1px solid #ccc;
    margin: 0 1rem;
}

li.message span {
    font-size: 1.4rem;
}

span.date {
    margin-right: 1rem;
}
div.messages-container {
    border: 1px solid black;
    border-radius: .5rem;
    margin-top: 2rem;
}

div.chat-container {
    height: 30vh;
    overflow: auto;
}

.send-message-form input {
    width: 100%;
    border: .5px solid #bbb;
    border-radius: .5rem;
    font-size: 1.6rem;
    padding: 1rem;
}

.send-message-form button {
    display: none;
}